<h1>Volunteer: <%= @volunteer.name %></h1>
<form class="" action="/volunteer/delete/<%= @volunteer.id %>" method="post">
  <button type="submit" class="btn btn-danger">Remove</button>
</form>



<h2>Currently Assigned to:</h2><br>

<h3 class="color"><%= Project.find(@volunteer.project_id).title%></h3><br>

<form action="/volunteer/update/<%= @volunteer.id %>" method="post">
  <div class="form-group">
    <label for="project_id">Assign to Project</label>
    <input type="hidden" name="name" value="<%= @volunteer.name %>">
    <select class="form-control" name='project_id' type='text'>
      <% @projects.each() do |project| %>
        <option value="<%= project.id %>"> <%= project.title %> </option>
      <% end %>
    </select>
  </div>
  <button type="submit" class="btn btn-primary btn-block">Join the Project</button>
</form>

<form action="/volunteer/update/<%= @volunteer.id %>" method="post">
  <input type="hidden" name="project_id" value="<%= @volunteer.project_id %>">
  <label for="name">Enter updated name</label>
  <input type="text" name="name" class="form-control">
  <button type="submit" class="btn btn-success btn-block">Update Volunteer</button>
</form><br>
